body{
    background-color: #595547;
    color: palegreen;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-left:25px;
    margin-bottom: 25px;
}
p{
    margin: 5px;
}
