body{
    background-color:   #595547;
    color: #9DBFF0;
    font-family: 'Work Sans', sans-serif;
    margin-left:25px;
    margin-bottom: 25px;
}

img{
    width: 300px;
}

.words{
  color: yellow;
}

a:visited {
  color: rgb(12, 12, 12);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  li{
    color: aliceblue;
  }
  
  .imagess p{
    color: aliceblue;
    display: inline-block;
  }



